!!! 5
%html
  %head
    %title Credit Card Service
  %body
    %h1 Welcome to Credit Card Service
    - if @current_user
      = "welcome #{@current-user.username} | "
      %a{href: '/logout'}
        logout
    - else
    %a{href: '/login'}
      = "login | "
    %a{href: '/register'}
      = "register"
    = yield
